.ReactModal>div {
opacity:0;
}
.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms easy-in-out;
}

.ReactModalPortal .ReactModal__Overlay__after-open {
   opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay__after-open {
   opacity: 0;
}

.modal {
   background: $light-blue;
   color: white;
   max-width: 30rem;
   outline: none;
   padding: $l-size;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) !important;
}

.modal__title {
   margin: 0 0 $l-size 0;
}

.modal__body {
   font-size: 2rem;
   font-weight: 200;
   margin: 0 0 $l-size 0;
   word-break: break-all;
}