
$font-stack:    Helvetica, Arial, sans-serif;
$primary-color: #333;


html {
  font-size: 62.5%;
}

body {
  font: $font-stack;
  font-size: $m-size;
  background-color: $dark-blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
